body{
    padding: 0;
    margin: 0
}
header{
    height: 125px;
    width: 99vw;
    background-color: bisque;
    padding: 10px;
    margin:0
}
h1{
    padding-left: 57px;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation li{
    display:inline;
}

.navigation a{
    display: inline-block;
    padding: 1em;
    color: red;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.navigation a:hover{
    background-color: burlywood;
}

.footerframe {
    width: 100vw;
    height: 18vh;
    background-color: bisque;
    border:none;
    padding: 10px 10px 0px 10px;
    bottom:0;
    left:0;
    position:fixed
    
}


table, th, td{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(110, 54, 9);
    line-height: normal;
    border: 1px;
    border-style:solid;
    border-color: green;
    border-collapse: collapse;
    
}
